<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= locals.title  %></title>
  <meta name="description" content="<%= locals.description  %>">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
  <script src="https://pixijs.download/release/pixi.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="loading-screen">
      <div class="spinner">❤️</div>
    </div>
    <main class ="main">
      <%- body  %>
    </main>
    <script type="module" src="/js/physics.js"></script>
</body>
</html>